<aside id="sidebar">    
    <ul id="sidebar-links">        
        <li><a href="{{ '/how-to' | relative_url }}">How-to</a></li>
        <li><a href="{{ '/use-cases' | relative_url }}">Use cases</a></li>
        <li><a href="{{ '/samples' | relative_url }}">Samples</a></li>
    </ul>

    {% if site.github %}
    <p class="repo-owner"><a href="{{ site.github.repository_url }}" target="_blank">{{ site.github.repository_name
            }}</a> is maintained with love by <a target="_blank" href="{{ site.github.owner_url }}">{{
            site.github.owner_name }}</a>.</p>
    {% endif %}

    <p>Proudly powered by <a href="https://github.com/pages-themes/architect" target="_blank">Architect theme</a>.</p>

    <p class="sponsor">
        Sponsored by
        <a class="sponsor-logo" href="https://jb.gg/OpenSource" target="_blank" title="Jetbrains">
            <img src="{{ '/assets/images/jetbrains.png' | relative_url }}" title="Jetbrains" />
        </a>
    </p>

    <div class="donate-form">
        <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="business" value="9F94U4GWN7YS6" />
            <input type="hidden" name="currency_code" value="CAD" />
            <input type="image" src="{{ '/assets/images/paypal-donate.png' | relative_url }}" border="0" name="submit"
                title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_CA/i/scr/pixel.gif" width="1" height="1" />
        </form>
    </div>
</aside>